body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}
h1{
  margin-top: 250px;

}
#randomString {
  font-size: 24px;
  margin-bottom: 20px;
}
button {
  font-size: 16px;
  padding: 20px;
  font-weight: bold;
  background-color: gray;
  color: white;
  font-size: larger;
  border: 0;
  cursor: pointer;
}


.container{

  height: 120px;
  width: auto;
  background-color: gainsboro;

}